@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: url("font/Segoe\ UI.woff");
}

@font-face {
  font-family: "Segoe UI Italic";
  font-style: normal;
  font-weight: normal;
  src: url("font/Segoe\ UI\ Italic.woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: url("font/Segoe\ UI\ Bold.woff");
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: url("font/Segoe\ UI\ Bold\ Italic.woff");
}

body,
h1,
h2,
h3,
h4,
h5,
h6, .btn-game, .btn-index, .btn-signup, input, .btn-join {
  font-family: "Segoe UI", Arial, sans-serif;
}

a, a:link, a.nav-link, a.nav-link:hover{
  font-weight: 900;
  font-size: 1.3vw;
  text-decoration: underline;
  color: #8c52ff;
}

a.nav-link:hover , a.nav-link:active{
  color: #ffde59;
  background-color: #8c52ff;
}

.boardgame{
    background-color: #F1F1F1;
    border-radius: 4.5vw;
    width: 100%;
    height: 37vw;
    display: grid;
    column-gap: 1vw;
    row-gap: 1vw;
    grid-template-columns: auto auto auto;
    padding: 2vw;
}

.boardgame-pieces{
  background-color: #dcdcdc;
  border-radius: 50%;
  cursor: pointer;
}

.boardgame-item-L{
    height: auto;
    width: auto;
    position: relative;
}
.boardgame-item-block-L{
    position: absolute;
    background-color: #F1F1F1;
    z-index: 0;
    height: 70%;
    width: 70%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.boardgame-item-M{
    position: absolute;
    height: 87%;
    width: 87%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.boardgame-item-block-M{
    position: absolute;
    background-color: #F1F1F1;
    z-index: 2;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.boardgame-item-S{
    position: absolute;
    height: 75%;
    width: 75%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.piece-block{
    background-color: #F1f1f1;
    border-radius:2.7vw;
    width: 100%;
    height: 10.5vw;
    display: grid;
    column-gap: 1vw;
    row-gap: 1vw;
    grid-template-columns: auto auto auto;
    padding: 2vw;
}
.time-block{
    background-color: #Ffde59;
    border-radius: 80px;
    width: 100%;
    height: 6vw;
    color: #8c52ff;
    font-weight: 900;
    font-size: 2.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player-name-block{
  background-color: rgb(52, 52, 52);
  color: white;
  border-radius: 2.7vw;
  width: 100%;
  height: 12vw;
  font-size: 1.25vw;
  width: 100%;
  text-align: center;
}

.block-room{
  background-color: rgb(245, 245, 245);
  color: black;
  border-radius: 2vw;
  width: 100%;
  height: 50vh;
  font-size: 1.25vw;
  padding-top: 25px;
  padding-bottom: 25px;
}

.user-profile-name{
  width: 100%;
  font-weight: 650;
  opacity: .3;
}

.user-profile-name-b{
  width: 100%;
  font-weight: 650;
  opacity: .3;
}


.btn-game {
  background-color: #8c52ff;
  color: #Ffde59;
  height: calc(37vw - 7.5vw - 26vw);
  border-radius: 50px;
  font-weight: 900;
  font-size: 1.4vw;
  border: none;
  padding: 0vw 2vw;
}

.btn-index{
  background-color: #Ffde59;
  color: black;
  height: calc(37vw - 7.5vw - 26vw);
  border-radius: 50px;
  font-weight: 900;
  font-size: 1.4vw;
  border: none;
  padding: 0vw 2vw;
}
.btn-join{
  background-color: #Ffde59;
  color: black;
  border: none;
  border-radius: 2rem;
  font-weight: 900;
  font-size: 1.5rem; padding: .45rem 4rem;
}

.btn-join:disabled{
  opacity: .4;
}

.player-pieces{
  background-color: #dcdcdc;
  border-radius: 50%;
  cursor: pointer;
}

.block-circle-color{
  margin: .45vw;
  padding: 3vw;
  border-radius: 50%;
  width: auto;
  height: auto;
  border: 5px solid black;
}

.block-circle-color:hover, .block-circle-color:active, .block-circle-color:focus{
  outline: 10px solid rgba(172, 172, 172, 0.35);
}
.block-blue{
  background-color: rgb(109, 187, 255)
}

.block-green{
  background-color: rgb(25, 212, 184)
}

.block-yellow{
  background-color: rgb(255, 222, 89)
}

.block-red{
  background-color: rgb(255, 109, 109);
}

.block-circle-color:disabled{
  opacity: .3;
  outline: none;
}

#blue{
  color: rgb(109, 187, 255);
}

#green{
  color: rgb(25, 212, 184)
}

#yellow{
  color: rgb(255, 222, 89)
}

#red{
  color: rgb(255, 109, 109);
}

.text-join-page{
  font-weight: 900; font-size: 1.7vw;
}